<div class="heading">Parent</div>
<div class="description">Store, ChangeDetection.Default, Async-Pipe</div>

<mat-form-field>
  <mat-label>Name</mat-label>
  <input matInput [formControl]="name"/>
</mat-form-field>

<button mat-stroked-button
        [disabled]="name.pristine || name.invalid || name.value === ''"
        (click)="updateUser(name?.value)">
  Update
</button>

<ng-container *ngIf="user$ | async as user">
  <div class="flex-container">
    <div class="flex-tile">
      <div>
        <div class="heading">Parent</div>
        <div class="description">Store, ChangeDetection.Default, Async-Pipe</div>
      </div>
      <div>
        Name:
        <span class="name"
              [class.defined]="!!user?.name">
        {{ user?.name || 'undefined'}}
    </span>
      </div>
    </div>
    <app-child-default-detection [user]="user" class="flex-tile"></app-child-default-detection>
    <app-child-push-detection [user]="user" class="flex-tile"></app-child-push-detection>
    <app-child-push-pipe class="flex-tile"></app-child-push-pipe>
  </div>

  <mat-card *ngIf="user?.name" class="result positive">
    <div>The async pipe has its own built in change detection so by using it instead of a subscription the changes will still be detected</div>
    <mat-card class="code-snippet">
      <div>this.user$ = this.userService.getUserPushWithPipe().pipe(</div>
      <div>&nbsp;&nbsp;&nbsp;takeUntil(this.destroy$)</div>
      <div>)</div>
    </mat-card>
    <mat-card class="code-snippet">
      <div>user$ | async</div>
    </mat-card>
  </mat-card>
</ng-container>
